.container{
  width: 100%;        
  max-width: 1400px;
  margin: 0 auto;
  padding:0 auto;
}


body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px;
    background-color:#FFFFFF;
    padding: 16px 120px;

}
.navbar li{
    list-style: none;
}
.navbar li a{
      text-decoration: none;
      color: black;
}
.navbar ul {
    display: flex;
    gap: 32px;
}
.navbar button{
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 15px;
    font-weight: 600;
    background-color: #469165;
    color: #FFFFFF;
    width: 164px;
    height: 44px;
    gap: 10px;
}
.navbar button:hover{
    background-color:green;
    transition: 0.3s;
}

/*Banner Section*/

.Hero .second-btn button {
    background-color: #FFFFFF;
    width: 229px;
    height: 35px;
    border-radius: 1000px;
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 8px;
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 500;
    color: #469165;
    border: none;
    margin-bottom: 16px;
}

.Hero {
    display: flex;             
    flex-direction: column;   
    align-items: center;       
    background-image: url(./assets/hero-bg.png);
    padding: 70px 120px 134px 120px;
    text-align: center;
    margin-bottom: 116px;
}
.Hero p{
    color: #FFFFFF;
    font-size:18px;
    font-weight: 400;
    text-align: center;
}
.Hero h1{
    font-weight: 700;
    font-size: 72px;
    text-align: center;

}
.btn-group button{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 251px;
    height: 52px;
    border-radius: 4px;
    padding: 12px 16px

}
.btn-group button:hover{
    background-color: rgb(7, 221, 7);
transition:0.3s;
}
 .btn-group .btn-one {
    font-size: 15px;
    font-weight: 600;
    background-color: #469165;
    color: #FFFFFF;
    width: 251px;
height: 52px;
gap: 10px;
padding: 12px 16px;
border-radius: 4px;

}
.btn-group .btn-two{
    background: none;
    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;
    width: 198px;
height: 52;
gap: 10px;
padding:12px 16px;
border-radius: 4px;
border-width: 1px;

}
.Hero .btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px; 
    margin-top: 20px;
}

/*Note section*/

.features {
    text-align: center;
    background-color: #fff;
}

.header-text h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 5px;
   
}

.header-text p {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    margin-bottom:20px;
}

.card-container {
    display: flex;         
    justify-content: center; 
    gap: 16px;           
    flex-wrap: nowrap;   
    margin: 0 auto;
}
.card {
    background: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    padding: 24px;
    width: 300px;
    height: 200px;     
    box-shadow: 0 10px 30px rgba(2, 2, 2, 0.03); 
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); 
}

.icon-circle {
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 25px;
}

.card h4 {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 700;
}

.card p {
    font-size: 16px;
    font-weight: 400;
    color: #627382; 
    line-height: 1.5;
}