.container{
  width: 100%;        
  max-width: 1400px;
  margin: 0 auto;
  padding:0 auto;
}


body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px;
    background-color:#FFFFFF;
    padding: 16px 120px;

}
.navbar li{
    list-style: none;
}
.navbar li a{
      text-decoration: none;
      color: black;
}
.navbar ul {
    display: flex;
    gap: 32px;
}
.navbar button{
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 15px;
    font-weight: 600;
    background-color: #469165;
    color: #FFFFFF;
    width: 164px;
    height: 44px;
    gap: 10px;
}
.navbar button:hover{
    background-color:green;
    transition: 0.3s;
}